body {
    background-color: #f5f1ce;
}

.main-menu.navbar-default {
    background-color: #f5f1ce;
}

.entry-header h1 a {
    display: block;
}

.post-content {
    word-wrap: break-word;
}

pre code {
    white-space: unset;
}

aside.widget.news-letter input[name="email"]{
    width:100%;
}

div.post-image {
    height:375px;
    background-size: cover;
    border-radius: 20px 20px 0 0;
    -webkit-border-radius: 20px 20px 0 0;
    -moz-border-radius: 20px 20px 0 0;
}

article.post {
    border-radius: 20px;
    box-shadow: 9px 17px 43px -10px;
    border: none;
}

article.post a.post-thumb-overlay {
    border-radius: 20px 20px 0 0;
    -webkit-border-radius: 20px 20px 0 0;
    -moz-border-radius: 20px 20px 0 0;
}

article.post .post-thumb a img {
    border-radius: 20px 20px 0 0;
    -webkit-border-radius: 20px 20px 0 0;
    -moz-border-radius: 20px 20px 0 0;
}
