button.button-delete {
  background: transparent;
  border: none;
  color: #337ab7;
  padding: 0;
}

.form-inline {
  display: block;
}

.img-circle {
  border-radius: 50%;
}

.main-header .sidebar-toggle {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-custom-menu > .navbar-nav > li {
  margin-right: 30px;
}

.navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

table.table form {
  display: inline-block;
}

.wrapper {
  height: 100%;
  max-height: 100%;
}

