/***** main *****/
body {
    background-color: #f5f1ce;
}

/***** main-menu *****/
.main-menu.navbar-default {
    background-color: #222222;
}

/***** slick-slider *****/
.wrapper{
    width:100%;
    padding-top: 20px;
    text-align:center;
}

.carousel{
    width:62%;
    margin:0 auto;
}

.slick-slide{
    margin:0;
}

.wrapper img{
    width:100%;
    border: 2px solid #fff;
}

/***** article *****/
.entry-header h1 a {
    display: block;
}

.post-content {
    word-wrap: break-word;
}

pre code {
    white-space: unset;
}

div.post-image {
    border-radius: 20px 20px 0 0;
    -webkit-border-radius: 20px 20px 0 0;
    -moz-border-radius: 20px 20px 0 0;
}

article.post {
    border-radius: 20px;
    box-shadow: 9px 17px 43px -10px;
    border: none;
}

article.post a.post-thumb-overlay {
    border-radius: 20px 20px 0 0;
    -webkit-border-radius: 20px 20px 0 0;
    -moz-border-radius: 20px 20px 0 0;
}

article.post .post-thumb a img {
    border-radius: 20px 20px 0 0;
    -webkit-border-radius: 20px 20px 0 0;
    -moz-border-radius: 20px 20px 0 0;
}

div.posts aside.widget.categories {
    display: none;
}

/***** sidebar-widget *****/
.widget.news-letter input[name="email"]{
    width:100%;
}

.widget ul li a {
    text-transform: none;
}

div.primary-sidebar aside.widget.categories {
    display: block;
}

/***** my account image *****/

img.profile-image {
    width: 20%;
    border-radius: 50%;
}

/***** back to top *****/

.back-to-top {
    display: inline-block;
    background-color: #3238b9;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 4px 4px 20px 0;
    color: #777;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

.back-to-top:after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 45px;
    color: #fff;
}

.back-to-top:hover {
    cursor: pointer;
    background-color: #5f5aff;
}

.back-to-top:active {
    background-color: #555;
}

.back-to-top.show {
    opacity: 1;
    visibility: visible;
}

/***** media 0-991 *****/
@media (min-width: 0px) and (max-width: 991px) {

    /***** main *****/
    .main-content {
        margin-top: 10px;
    }

    /***** article *****/
    div.posts aside.widget.categories {
        display: block;
    }

    /***** sidebar *****/
    div.primary-sidebar aside.widget.categories {
        display: none;
    }

    /***** slick-slider *****/
    .wrapper{
        padding-top: 0;
    }

    .carousel{
        width:95%;
    }
}

/***** media 500-xxx *****/
@media (min-width: 500px) {
    .back-to-top {
        margin: 30px;
    }
}

/***** media portrait 0-400 *****/
@media (min-width: 0px) and (max-width: 400px) and (orientation: portrait) {

    /***** article *****/
    .entry-header h1 a {
        font-weight: 600;
        font-size: 18px;
        line-height: 30px;
    }

    div.btn-continue-reading {
        display:none;
    }

    div.social-share ul {
        display: none;
    }

    .post .social-share {
        padding: 0 0 65px;
    }

    /***** slick-slider *****/
    .carousel{
        width:92%;
    }
}
